.App {
  background-image: url("./assets/space.jpg");
  height: -webkit-fill-available;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: transparent;
  height: 150px;
  padding: 20px;
  color: white !important;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.bigForm {
  display: table;
  text-align: left !important;
}

.carousel.slide {
  align-content: center;
  width: 800px;
  margin-left: 400px;
}

h1 {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ml-auto.navbar-nav {
  margin-left: inherit !important;
}

.navbar.navbar-expand-md.navbar-light.bg-light {
  background-color: transparent !important;
}
